.letter-style {
  letter-spacing: 0.3rem;
}
.custom_input {
  border: none;
  border-bottom: 1px solid #000;
  letter-spacing: 0.1rem;
}
.custom_input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}

.searchModal {
  background-color: #f7f7f7;
  width: 20%;
}
.searchData {
  background: #ffe5b4;
  border: 1px solid #f7f7f7;
  width: 100%;
  color: #000;
}
